$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);
$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);
$Red: hsl(0, 87%, 67%);

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.header {
  padding: 1.5rem 1.5rem 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 0 auto;

  &__logo {
    padding-top: 5px;
    margin-right: 2.8rem !important;
  }
  &__nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
    }
    li {
      margin-right: 2.5rem;
      cursor: pointer;
      font-size: 0.8rem;
      opacity: 0.6;

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }

    li.signUp {
      font-weight: 700;
      padding: 0.4rem 1.5rem;
      border-radius: 100px;
      outline: none;
      border: none;
      color: white;
      background-color: $Cyan;
      opacity: 1;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.mainContent {
  position: relative;
  .banner {
    width: 100%;
    overflow: hidden;
    &__image {
      width: 140%;
      object-fit: contain;
      padding-left: 1rem;
    }
    &__text {
      padding: 1rem;
      text-align: center;
      h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 700;
        padding: 0.5rem;
        color: $VeryDarkViolet;
      }
      p {
        font-size: 1.05rem;
        line-height: 1.5;
        margin: 0.2rem 0 1.8rem;
        color: $Gray;
        padding: 0 0.8rem;
      }
      button {
        font-size: 1rem;
        font-weight: 700;
        padding: 0.7rem 1.5rem;
        border-radius: 100px;
        outline: none;
        border: none;
        color: white;
        background-color: $Cyan;
      }
    }
  }
  .linkInput {
    width: 80%;
    margin: 0 auto;
    padding: 1.4rem;
    border-radius: 8px;
    background: $DarkViolet url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    transform: translateY(50%);
    margin-top: -1rem;
    &__form {
      display: flex;
      flex-direction: column;
      input {
        font-size: 0.9rem;
        padding: 0.3rem 1.5rem;
        height: 40px;
        border-radius: 4px;
        outline: none;
        border: none;
        margin-bottom: 16px;
      }
      button {
        font-size: 1rem;
        font-weight: 700;
        height: 40px;
        padding: 0.7rem 1.5rem;
        border-radius: 4px;
        outline: none;
        border: none;
        color: white;
        background-color: $Cyan;
        cursor: pointer;
      }
    }
  }
}
.features {
  background-color: #efefef;
  padding: 9rem 2rem 3rem;
  text-align: center;

  &__header {
    padding: 0.5rem;
    h2 {
      font-weight: 700;
      font-size: 1.4rem;
      color: $VeryDarkViolet;
      margin-bottom: 1rem;
    }
    p {
      color: $GrayishViolet;
      font-size: 0.9rem;
      line-height: 1.8;
    }
  }

  &__cards {
    position: relative;
    &-line {
      position: absolute;
      top: 5%;
      right: 50%;
      height: 90%;
      width: 8px;
      background-color: $Cyan;
      transform: translateX(50%);
    }
  }
}
.card {
  z-index: 2;
  background-color: white;
  border-radius: 8px;
  margin-top: 5rem;
  padding: 3rem 1.5rem 2rem;
  position: relative;
  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $DarkViolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(-3rem - 30px) auto 2rem;
    img {
      object-fit: contain;
      max-width: 30px;
    }
  }
  h4 {
    font-weight: 700;
    font-size: 1.2rem;
    color: $VeryDarkViolet;
    margin-bottom: 1rem;
  }
  p {
    color: $GrayishViolet;
    font-size: 0.85rem;
    line-height: 1.8;
  }
}
.getStarted {
  padding: 4rem 1rem;
  background: $DarkViolet url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  text-align: center;
  h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.7rem 1.5rem;
    border-radius: 100px;
    outline: none;
    border: none;
    color: white;
    background-color: $Cyan;
  }
}
.footer {
  background-color: $VeryDarkBlue;
  color: white;
  padding-bottom: 2rem;

  &__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 0.8rem;
    .footer__logo {
      margin: 3rem auto 2rem;
    }

    .links {
      ul {
        margin-bottom: 2rem;
        list-style: none;
        li {
          margin: 0 auto;
          margin-bottom: 0.3rem;
          opacity: 0.8;
          transition: all ease-in-out 0.2s;
          cursor: pointer;
          width: fit-content;
          &:hover {
            transform: scale(1.01);
            opacity: 0.6;
          }
        }
        .listHead {
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          font-weight: 700;
          opacity: 1;
        }
      }
    }

    .socialLinks {
      display: flex;
      justify-content: center;
      a {
        margin-right: 1rem;
        transition: all ease-in-out 0.2s;
        svg {
          width: 25px;
          height: 25px;
          object-fit: contain;
          fill: white;
          &:hover {
            transform: scale(1.1);
            fill: $Cyan;
          }
        }
      }
    }
  }
  &__attribution {
    font-size: 0.6rem;
    text-align: center;
    a {
      text-decoration: none;
      color: white;
    }
    .brandLogo {
      width: 70px;
      margin-bottom: -10px;
    }
  }
}

@media screen and (max-width: 53.125rem) {
  .header {
    padding: 0.8rem 1.5rem 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1000px;

    &__logo {
      padding-top: 5px;
    }
    .menu-btn {
      position: relative;
      // top: 1rem;
      // right: 1rem;
      z-index: 1;
      height: 20px;
      width: 28px;
      cursor: pointer;
      @include transition-ease;

      &__burger {
        position: absolute;
        top: 0.5rem;
        right: 0;
        width: 28px;
        height: 3px;
        background: $DarkViolet;
        @include transition-ease;

        &::before {
          content: "";
          position: absolute;
          top: -8px;
          width: 28px;
          height: 3px;
          background: $DarkViolet;
          @include transition-ease;
        }

        &::after {
          content: "";
          position: absolute;
          top: 8px;
          width: 20px;
          height: 3px;
          background: $DarkViolet;
          @include transition-ease;
        }

        &.open {
          transform: rotate(720deg);
          background: transparent;

          &::before {
            transform: rotate(45deg) translate(5px, 8px);
          }

          &::after {
            width: 28px;
            transform: rotate(-45deg) translate(3px, -7px);
          }
        }
      }
    }

    .header__nav {
      visibility: hidden;
      display: block;
      position: absolute;
      right: 0;
      top: 100%;
      width: 80%;
      margin: 0 10%;
      padding: 1rem 1rem;
      border-radius: 6px;
      background-color: $DarkViolet;
      z-index: 1;
      color: white;
      text-align: center;
      @include transition-ease();
      transform: translateY(-100%);
      opacity: 0;

      &.open {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
      }
      ul {
        padding: 0.3rem;
        display: block;
      }
      li {
        padding: 0.5rem;
        font-weight: 700;
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
        cursor: pointer;

        &:hover {
          color: $Cyan;
        }
      }

      li.signUp {
        font-weight: 700;
        padding: 0.4rem 1.5rem;
        border-radius: 100px;
        outline: none;
        border: none;
        color: white;
        background-color: $Cyan;

        &:hover {
          color: $Cyan;
          background-color: white;
        }
      }

      .nav__page {
        border-bottom: 1px solid $GrayishViolet;
      }
    }
  }
}

@media screen and (min-width: 53.125rem) {
  .mainContent {
    // overflow: hidden;
    margin-top: 2rem;
    .banner {
      overflow: visible;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: 0 auto;
      max-width: 1000px;
      padding-left: 5%;
      margin-left: 0;

      &__image {
        margin-right: -20%;
      }
      &__text {
        text-align: left;
        button {
          margin-left: 1rem;
        }
      }
    }
    .linkInput {
      padding: 3rem;
      background: $DarkViolet url("../images/bg-shorten-desktop.svg");
      background-repeat: no-repeat;
      background-position: top right;
      &__form {
        display: flex;
        flex-direction: row;
        padding: 0;
        input {
          flex: 1;
          margin: 0;
          margin-right: 1rem;
          border-radius: 6px;
        }
        button {
          border-radius: 6px;
        }
      }
    }
  }
  .features {
    &__header {
      margin-bottom: 2rem;
      h2 {
        font-size: 2.2rem;
        margin-bottom: 0.6rem;
        margin-top: 1rem;
      }
      p {
        max-width: 500px;
        margin: 0 auto;
      }
    }
    &__cards {
      display: flex;
      width: 100%;
      margin: 0 auto;
      max-width: 1000px;
      flex-direction: row;
      justify-content: space-between;
      &-line {
        position: absolute;
        right: 5%;
        top: 50%;
        width: 90%;
        height: 8px;
        background-color: $Cyan;
        transform: translateY(50%);
      }
      .card {
        height: fit-content;
      }
    }
  }
  @for $i from 1 through 4 {
    .card:nth-child(#{$i}) {
      margin-top: ($i * 3rem) - 3rem;
    }
  }
  @for $i from 1 through 3 {
    .card:nth-child(#{$i}) {
      margin-right: 2rem;
    }
  }
  .getStarted {
    background: $DarkViolet url("../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      font-size: 2rem;
    }
  }
  .footer {
    &__main {
      width: 90%;
      margin: 0 auto;
      max-width: 1000px;
      padding: 3rem 0 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .links {
        display: flex;
        ul {
          margin-right: 3rem;
        }
      }

      .footer__logo {
        margin: 0;
      }
    }
  }
}
